.inventory-container {
  background-color: white;
  color: #006400; /* Dark green */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.add-product-form {
  margin-bottom: 20px;
}

.add-product-form input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #006400; /* Dark green */
  border-radius: 5px;
}

.add-product-form button {
  background-color: #006400; /* Dark green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-form button:hover {
  background-color: #004d00; /* Darker green */
}

.inventory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #006400; /* Dark green */
  border-radius: 5px;
}

.item-name, .item-category, .item-price, .item-img {
  color: black;
}

.item-img img {
  max-width: 50px;
  border-radius: 5px;
}

button {
  background-color: #006400; /* Dark green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #004d00; /* Darker green */
}

.back-button {
  background-color: #006400; /* Dark green */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #004d00; /* Darker green */
}

.error-container, .loading {
  color: #006400; /* Dark green */
}